# My Personal Spending Analysis

In this project I will analyze my own spending habits to identify some spending trends and to come up with strategies to spend less.

### Importing libraries

In [1]:
import pandas as pd
import numpy as np
import re

### Importing Card Transaction Data

In [2]:
#Load data into dataframe.
ChaseFreedom = pd.read_csv("ChaseFreedom.CSV")

#Remove empty 'Memo' column and add a new 'card' column
ChaseFreedom = ChaseFreedom.drop(columns=['Memo'])

ChaseFreedom['Card'] = 'Freedom'

#Preview changes
ChaseFreedom.head()

,Transaction Date,Post Date,Description,Category,Type,Amount,Card
0,01/12/2026,01/14/2026,TRADER JOE S #201,Groceries,Sale,-18.12,Freedom
1,01/08/2026,01/09/2026,APPLE.COM/BILL,Shopping,Sale,-2.99,Freedom
2,01/02/2026,01/04/2026,ROTTEN ROBBIE #68,Gas,Sale,-49.82,Freedom
3,01/02/2026,01/04/2026,TRADER JOE S #201,Groceries,Sale,-31.60,Freedom
4,01/01/2026,01/04/2026,RALEY'S #336,Groceries,Sale,-20.19,Freedom

In [3]:
#Load data into dataframe
ChaseSapphire = pd.read_csv("ChaseSapphire.CSV")

#Remove empty 'Memo' column and add a new 'card' column
ChaseSapphire = ChaseSapphire.drop(columns=['Memo'])

ChaseSapphire['Card'] = 'Sapphire'

#Preview changes
ChaseSapphire.head()

,Transaction Date,Post Date,Description,Category,Type,Amount,Card
0,01/18/2026,01/19/2026,TARGET 00018192,Shopping,Sale,-17.33,Sapphire
1,01/18/2026,01/19/2026,PETSMART # 0060,Shopping,Sale,-1.87,Sapphire
2,01/17/2026,01/19/2026,BRENTWOOD SMOG EXPRESS,Automotive,Sale,-70.75,Sapphire
3,01/17/2026,01/18/2026,O'REILLY 3631,Automotive,Sale,-45.65,Sapphire
4,01/17/2026,01/18/2026,CHEVRON 0357877,Gas,Sale,-7.17,Sapphire

### Combining Data Into One Data Frame

In [9]:
CreditTransactions = pd.concat([ChaseFreedom, ChaseSapphire], ignore_index=True)
CreditTransactions['Amount'] = CreditTransactions['Amount'].astype(float) * -1

print(CreditTransactions.head())
print(CreditTransactions.tail())

  Transaction Date   Post Date        Description   Category  Type  Amount  \
0       01/12/2026  01/14/2026  TRADER JOE S #201  Groceries  Sale   18.12
1       01/08/2026  01/09/2026     APPLE.COM/BILL   Shopping  Sale    2.99
2       01/02/2026  01/04/2026  ROTTEN ROBBIE #68        Gas  Sale   49.82
3       01/02/2026  01/04/2026  TRADER JOE S #201  Groceries  Sale   31.60
4       01/01/2026  01/04/2026       RALEY'S #336  Groceries  Sale   20.19

      Card
0  Freedom
1  Freedom
2  Freedom
3  Freedom
4  Freedom
     Transaction Date   Post Date                Description  \
1454       01/06/2025  01/07/2025      WF* WAYFAIR4295261137
1455       01/02/2025  01/05/2025  CLIPPER SYSTEMS MOBILE #1
1456       01/03/2025  01/03/2025               UBER   *TRIP
1457       01/03/2025  01/03/2025                      WAYMO
1458       01/01/2025  01/01/2025      ANNUAL MEMBERSHIP FEE

                Category  Type  Amount      Card
1454                Home  Sale   67.41  Sapphire
1455              Travel  Sale   20.00  Sapphire
1456              Travel  Sale   15.91  Sapphire
1457              Travel  Sale   15.23  Sapphire
1458  Fees & Adjustments   Fee   95.00  Sapphire

#### Creating Merchant Column

In [10]:
#Creating new DF
CreditTransactions1 = CreditTransactions

#Sampling to show a before. Later I will sample the same seed to show a before/after
CreditTransactions1.sample(15,random_state=7)

,Transaction Date,Post Date,Description,Category,Type,Amount,Card
409,09/28/2024,09/29/2024,RALPHS #0656,Groceries,Sale,8.40,Freedom
369,10/16/2024,10/17/2024,SUN DAY CARWASH,Automotive,Sale,14.99,Freedom
708,03/24/2024,03/24/2024,FOREIGN TRANSACTION FEE,Fees & Adjustments,Fee,1.66,Freedom
754,03/08/2024,03/10/2024,ASI CAL POLY-WEB,Entertainment,Return,-25.00,Freedom
146,06/22/2025,06/23/2025,EXXON AROMAS GAS,Gas,Sale,49.34,Freedom
275,11/23/2024,11/25/2024,TRADER JOE S #201,Groceries,Sale,23.33,Freedom
936,11/03/2025,11/03/2025,Payment Thank You-Mobile,NaN,Payment,-358.25,Sapphire
1086,08/02/2025,08/04/2025,UNION SQUARE WINE &amp; SPIRI,Food & Drink,Sale,5.86,Sapphire
450,09/15/2024,09/17/2024,REI #195 SAN LUIS OBI,Shopping,Sale,175.19,Freedom
1393,02/10/2025,02/11/2025,ONEQUINCE* Q4937034,Shopping,Sale,163.01,Sapphire
955,10/12/2025,10/13/2025,TST*HUMBLE SEA BREWING -,Food & Drink,Sale,19.67,Sapphire
313,11/09/2024,11/10/2024,CALIFORNIA FRESH MARKET,Groceries,Sale,7.06,Freedom
1263,04/10/2025,04/11/2025,SQ *SLODOCO,Food & Drink,Sale,3.00,Sapphire
751,03/10/2024,03/11/2024,BWW SAN LUIS OBISPO509,Food & Drink,Sale,32.54,Freedom
587,06/07/2024,06/09/2024,APPLE.COM/BILL,Shopping,Sale,2.99,Freedom

I'm going to use ChatGPT to generate a list of stores I have visited and will create a list to check againts the spreadhseet

In [11]:
vendor_mapping = {

    # Food & Drink
    "PANDA EXPRESS": "Panda Express",
    "CHIPOTLE": "Chipotle",
    "STARBUCKS": "Starbucks",
    "SHAKE SHACK": "Shake Shack",
    "FOOD 4 LESS": "Food 4 Less",
    "IN-N-OUT": "In-N-Out",
    "MCDONALDS": "McDonald's",
    "CHELSEA": "Chelsea",
    "DUMPLING HOURS": "Dumpling Hours",
    "JAMBA JUICE": "Jamba Juice",
    "SLODOCO": "Slodoco",
    "SIDECAR": "Sidecar",
    "LURE FISH HOUSE": "Lure Fish House",
    "MISTURA": "Mistura",
    "CHICK-FIL-A": "Chick-fil-A",

    # Transportation
    "UBER": "Uber",
    "CLIPPER": "Clipper Card",
    "MTA": "MTA",
    "WAYMO": "Waymo",
    "LYFT": "Lyft",
    "AMERICAN AI": "American Airlines",
    "VUELING": "Vueling Airlines",

    # Retail
    "AMAZON": "Amazon",
    "BRIXTON": "Brixton",
    "TARGET": "Target",
    "WALMART": "Walmart",
    "ZARA": "Zara",
    "PETSMART": "Petsmart",
    "REI": "REI",
    "CVS": "CVS",
    "RITE AID": "Rite Aid",
    "WALGREENS": "Walgreens",
    "MACYS": "Macy's",
    "NORDSTROM": "Nordstrom",
    "TJ MAXX": "TJ Maxx",
    "HOBBY-LOBBY": "Hobby Lobby",
    "MICHAELS": "Michaels",
    "GUITAR CENTER": "Guitar Center",
    "SUNGLASS HUT": "Sunglass Hut",
    "VUORI": "Vuori",
    "MADEWELL":"Madewell",
    "PETALS": "Petals",


    # Groceries
    "SAFEWAY": "Safeway",
    "WHOLEFDS": "Whole Foods",
    "SPROUTS": "Sprouts",
    "TRADER JOE": "Trader Joe's",
    "RALPHS": "Ralphs",
    'RALEY': "Raley's",

    # Education / Campus
    "CAL POLY": "Cal Poly",
    "CPSLO": "Cal Poly",
    "ASI CAL POLY": "Cal Poly",
    "GRUBHUB - CA POLY": "Cal Poly (Grubhub)",
    "PEARSON": "Pearson",


    # Gas / Automotive
    "CHEVRON": "Chevron",
    "ARCO": "Arco",
    "SHELL": "Shell",
    "JIFFY LUBE": "Jiffy Lube",
    "7-ELEVEN": "7-Eleven",
    "76 -": "76 Gas",
    "SPEEDWAY": "Speedway",
    "O'REILLY": "O'Reilly Auto Parts",
    "OIL CHANGERS": "Oil Changers",
    "SMOG EXPRESS": "Brentwood Smog Express",
    "SUNDAY CAR WASH": "Sunday Car Wash",
    "ROTTEN ROBBIE": "Rotten Robbie",
    "TEXACO": "Texaco",


    # Misc.
    "FOREIGN TRANSACTION FEE": "Foreign Transaction Fee",
    "OPENAI": "OpenAI",
    "AUDIBLE": "Audible",
    "COURSERA": "Coursera",
    "LINKEDIN": "LinkedIn",
    "PAYRANGE": "PayRange",
    "DICE.FM": "Dice.fm",
    "AXS.COM": "AXS",
    "SPECTRUM": "Spectrum",
    "VENMO": "Venmo",
    "ZELLE": "Zelle",
    "GAMEPOD": "GamePod"

}

# Creating a function to check if the Key is in the description
def merchant_norm(name):
    if name is None:
        return None

    for key, value in vendor_mapping.items():
        if key in name:
            return value
    return name.title()

In [15]:
CreditTransactions1["Merchant"] = CreditTransactions1["Description"].astype(str).str.upper().apply(merchant_norm)

In [23]:
CreditTransactions1["Amount"] = CreditTransactions1["Amount"].astype(float)
CreditTransactions1= CreditTransactions1[CreditTransactions["Amount"]>=0]

In [31]:
CreditTransactions1['Merchant'].value_counts()

Merchant
Amazon                     76
California Fresh Market    65
Sq *Slo Donut Company      43
Trader Joe's               42
Petsmart                   39
                           ..
Sumup  *Timber Doodle       1
Flughafen Berlin Brand      1
Burgermeister               1
Amzn Mktp Us*Tp5X32Og3      1
Waymo                       1
Name: count, Length: 483, dtype: int64

In [39]:
CreditTransactions1.dtypes
#CreditTransactions1.shape

Transaction Date     object
Post Date            object
Description          object
Category             object
Type                 object
Amount              float64
Card                 object
Merchant             object
dtype: object

In [42]:
CreditTransactions1.isna().sum() #Awesome

Transaction Date    0
Post Date           0
Description         0
Category            0
Type                0
Amount              0
Card                0
Merchant            0
dtype: int64

In [50]:
dupes = CreditTransactions1[CreditTransactions1.duplicated()]
dupes.head(20)

,Transaction Date,Post Date,Description,Category,Type,Amount,Card,Merchant
336,10/30/2024,10/31/2024,SQ *SLO DONUT COMPANY,Food & Drink,Sale,4.25,Freedom,Sq *Slo Donut Company
593,06/06/2024,06/06/2024,UBER TRIP,Travel,Sale,1.00,Freedom,Uber
828,01/08/2026,01/09/2026,HEADWAY,Health & Wellness,Sale,35.00,Sapphire,Headway
845,12/28/2025,12/29/2025,CLIPPER TRANSIT FARE,Travel,Sale,6.10,Sapphire,Clipper Card
896,11/27/2025,11/28/2025,CLIPPER TRANSIT FARE,Travel,Sale,7.10,Sapphire,Clipper Card
910,11/16/2025,11/17/2025,MTA*NYCT PAYGO,Travel,Sale,2.90,Sapphire,MTA
914,11/15/2025,11/16/2025,MTA*NYCT PAYGO,Travel,Sale,2.90,Sapphire,MTA
915,11/15/2025,11/16/2025,MTA*NYCT PAYGO,Travel,Sale,2.90,Sapphire,MTA

In [32]:
CreditTransactions1.sample(15,random_state=7)

,Transaction Date,Post Date,Description,Category,Type,Amount,Card,Merchant
348,10/25/2024,10/27/2024,TST*THE MARK,Food & Drink,Sale,11.00,Freedom,Tst*The Mark
626,05/10/2024,05/10/2024,UBER TRIP,Travel,Sale,10.98,Freedom,Uber
14,12/06/2025,12/08/2025,HOBBY-LOBBY #542,Shopping,Sale,5.48,Freedom,Hobby Lobby
185,03/07/2025,03/09/2025,PAYRANGE MOBILE,Bills & Utilities,Sale,10.00,Freedom,PayRange
481,08/28/2024,08/30/2024,ASSOCIATED STUDENTS,Groceries,Sale,2.98,Freedom,Associated Students
630,05/03/2024,05/05/2024,TRADER JOE S #041,Groceries,Sale,28.68,Freedom,Trader Joe's
206,01/08/2025,01/09/2025,SQ *SLO DONUT COMPANY,Food & Drink,Sale,2.45,Freedom,Sq *Slo Donut Company
306,11/07/2024,11/10/2024,PANDA EXPRESS,Food & Drink,Sale,11.90,Freedom,Panda Express
862,12/15/2025,12/16/2025,DD *DOORDASH DUMPLINGH,Food & Drink,Sale,51.10,Sapphire,Dd *Doordash Dumplingh
247,12/08/2024,12/09/2024,APPLE.COM/BILL,Shopping,Sale,2.99,Freedom,Apple.Com/Bill
685,04/01/2024,04/01/2024,FOREIGN TRANSACTION FEE,Fees & Adjustments,Fee,0.90,Freedom,REI
1035,09/08/2025,09/09/2025,THE BOHEMIAN SHOP,Shopping,Sale,92.93,Sapphire,The Bohemian Shop
1183,05/14/2025,05/15/2025,CALIFORNIA FRESH MARKET,Groceries,Sale,6.99,Sapphire,California Fresh Market
953,10/16/2025,10/17/2025,AMAZON MKTPL*NM8WN5U60,Shopping,Sale,10.86,Sapphire,Amazon
1089,07/31/2025,08/01/2025,AXS.COMFESTIVAL GV R,Entertainment,Sale,599.90,Sapphire,AXS

In [33]:
CreditTransactions1.to_csv('CreditTransactions.csv', index=False)